.mat-column-ID {
    text-align: center;
}
.mat-column-v_NAME {
    text-align: center;
}
.mat-column-i_INTEREST {
    text-align: center;
}
.mat-column-v_FREQUENCY {
    text-align: center;
}
.mat-column-ACTION {
    text-align: center;
}
.mat-column-b_STATE {
    text-align: center;
}

.title-interes{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.card-interes-credito{
    margin-bottom: 20px;
}

.dialog-createinteres{
    padding: 20px;
}