.mat-column-i_ROLE_ID {
  text-align: center;
}

.mat-column-v_ROLE {
  width: 250px!important;
}

.mat-column-d_CREATE_DATE {
  text-align: center;
}

.mat-column-b_STATE {
  width: 32px;
  text-align: center;
  font-weight: bold;
}

.mat-column-ACTIONS {
  width: 200px!important;
  text-align: center;
}

.dialog-content {
  height: 500px;
  overflow-y: auto;
}

.custom-column {
  height: 10px !important;
  border: none;
}

.name-file{
  font-weight: 700;
}
