.dialog-content {
  padding: 20px 50px;
}
.content-modal-createcuenta{
  padding: 20px;
}

//botones cuentas
.btnCuentas {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  button{
    padding: 0 10px;
  }
}
.mat-column-STATE,.mat-colum-ACTION,.mat-colum-DOCUMENT,.mat-colum-NRO{
  text-align: center;
}




